@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 8px;
  }
  body {
    display: initial;
  }
  .wrapper {
    width: 100%;
  }
  .text-wrapper h1 {
    font-size: 5rem;
  }
  .ilustration-wrapper {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) {
  /* and (-webkit-min-device-pixel-ratio: 1) { */
  body {
    display: initial;
  }
  .wrapper {
    width: 100%;
  }
  .ilustration-wrapper {
    display: none;
  }
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #1A1A1A;
  color: #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --view-width: calc(100vh - 22px);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

header {
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  scroll-snap-align: start;
}

header .header--menu {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header--menu .header--menu-item {
  text-decoration: none;
  color: #DEDEDE;
}

main {
  width: calc(100vw - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--hero {
  width: 100%;
  height: 100vh;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--hero .main--hero-text h1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.main--hero .main--hero-text p {
  font-size: 2rem;
  text-align: center;
  max-width: 95%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main--hero .main--scroll-indicator-wrapper {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main--hero .main--scroll-indicator-wrapper .mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.main--hero .main--scroll-indicator-wrapper .mouse .scroll {
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
          animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
          transform-origin: 50% 20.5px;
  will-change: transform;
}

@-webkit-keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

@keyframes scroll {
  0%, 20% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(36px) scaleY(2);
            transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

.main--contact {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.main--contact .main--contact-form {
  width: 49%;
  height: 100%;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.main--contact .main--contact-form .form-bg {
  border-radius: 10px;
  background-color: #101010;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.main--contact .main--contact-form .form-bg.clickable {
  cursor: pointer;
}

.main--contact .main--contact-form .form-bg.clickable:hover {
  background-color: #050505;
}

.main--contact .main--contact-form .code-line {
  width: auto;
  height: 2rem;
  padding: .25rem;
}

.main--contact .main--contact-form .code-line.comment {
  color: #58616D;
}

.main--contact .main--contact-form .code-line.indent1 {
  padding-left: 2.5%;
}

.main--contact .main--contact-form .code-line.indent2 {
  padding-left: 5%;
}

.main--contact .main--contact-form .code-line .keyword {
  color: #C274D4;
}

.main--contact .main--contact-form .code-line .variable {
  color: #E5C07B;
}

.main--contact .main--contact-form .code-line .function-name {
  color: #61AFEF;
}

.main--contact .main--contact-form .code-line .function-other {
  color: #ABB1B3;
}

.main--contact .main--contact-form .code-line .key {
  color: #E06C75;
}

.main--contact .main--contact-form .code-line .text {
  color: #98C379;
}

.main--contact .main--contact-divider {
  width: 2px;
  height: 90%;
  background-color: #DEDEDE;
}

.main--contact .main--contact-animation {
  width: 49%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 60px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E0E0;
  color: #353535;
  font-size: 1rem;
}

footer .footer--social-icons {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--social-icons .footer--social-icon {
  width: 40px;
  height: 40px;
  background-color: #C4C4C4;
  border-radius: 1000px;
}
/*# sourceMappingURL=main.css.map */