// Colours
$main-bg-colour: #1A1A1A;
$secondary-bg-colour: #E0E0E0;
$font-colour: #DEDEDE;
$font-colour-dark: #353535;
$brand-blue: #397FCB;

// Sizes
$font-size-xl: 5rem;
$font-size-l: 2rem;
$font-size-m: 1.5rem;
$font-size-s: 1rem;
$font-size-xs: .5rem;

