@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 8px;
  }
  body {
    display: initial;
  }
  .wrapper {
    width: 100%;
  }
  .text-wrapper h1 {
    font-size: 5rem;
  }
  .ilustration-wrapper {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) {
  /* and (-webkit-min-device-pixel-ratio: 1) { */
  body {
    display: initial;
  }
  .wrapper {
    width: 100%;
  }
  .ilustration-wrapper {
    display: none;
  }
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #1A1A1A;
  color: #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main {
  width: calc(100vw - 23px);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main--hero {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--hero .main--hero-text h1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.main--hero .main--hero-text p {
  font-size: 2rem;
  text-align: center;
  max-width: 95%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.main--ilustration-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--ilustration-wrapper img {
  width: 80%;
}

footer {
  height: 60px;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E0E0;
  color: #353535;
}

footer .footer--social-icons {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer--social-icons .footer--social-icon {
  width: 40px;
  height: 40px;
  background-color: #C4C4C4;
  border-radius: 1000px;
}
/*# sourceMappingURL=main.css.map */