@import './variables';
@import './main-mobile';
@import './main-tablet';

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: $main-bg-colour;
    color: $font-colour;
    box-sizing: border-box;
    --view-width: calc(100vh - 22px);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    scroll-snap-type: y mandatory;
}

header {
    width: 100%;
    height: 60px;
    font-size: $font-size-m;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    scroll-snap-align: start;
    .header--menu {
        width: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header--menu-item {
            text-decoration: none;
            color: $font-colour;
        }
    }
}

main {
    width: calc(100vw - 23px);
    display: flex;
    flex-direction: column;
}

.main--hero {
    width: 100%;
    height: 100vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .main--hero-text {
        h1 {
            font-size: $font-size-xl;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: $font-size-l;
            text-align: center;
            max-width: 95%;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
    #home-scroll-indicator-wrapper {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        .mouse {
            max-width: 2.5rem;
            width: 100%;
            height: auto;
            .scroll {
                animation-name: scroll;
                animation-duration: 1.5s;
                animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
                animation-iteration-count: infinite;
                transform-origin: 50% 20.5px;
                will-change: transform;
            }
        }
    }
}

@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0.01;
    }
}

.main--contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
    .main--contact-form {
        width: 49%;
        height: 100%;
    }
    .main--contact-divider {
        width: 2px;
        height: 90%;
        background-color: $font-colour;
    }
    .main--contact-animation {
        width: 49%;
        height: 100%;
    }
}

footer {
    height: 60px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-bg-colour;
    color: $font-colour-dark;
    font-size: $font-size-s;
    .footer--social-icons {
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .footer--social-icon {
            width: 40px;
            height: 40px;
            background-color: #C4C4C4;
            border-radius: 1000px;
        }
    }
}