@import './variables';
@import './main-mobile';
@import './main-tablet';

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: $main-bg-colour;
    color: $font-colour;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 60px;
    font-size: $font-size-m;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    .header--menu {
        width: 20%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .header--menu-item {
            text-decoration: none;
            color: $font-colour;
        }
    }
}

main {
    width: calc(100vw - 23px);
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.main--hero {
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .main--hero-text {
        h1 {
            font-size: $font-size-xl;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: $font-size-l;
            text-align: center;
            max-width: 95%;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
}

.main--ilustration-wrapper {
    align-items: center;
    img {
        width: 80%;
    }
}

footer {
    height: 60px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-bg-colour;
    color: $font-colour-dark;
    font-size: $font-size-s;
    .footer--social-icons {
        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .footer--social-icon {
            width: 40px;
            height: 40px;
            background-color: #C4C4C4;
            border-radius: 1000px;
        }
    }
}